{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}



{% block content %}
<style>
  /* Estilos para los controles del carrusel */
.carousel-control-prev, .carousel-control-next {
  color: white; /* Puedes cambiar $white por el valor que desees */
  width: 15%;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: .9;
}

/* Estilos para los indicadores del carrusel */
.carousel-indicators li {
  width: 30px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 3px;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators .active {
  background-color: white; /* Cambiar $white si es necesario */
  opacity: 1;
}

/* Estilo adicional si quieres personalizar más el área de los indicadores */
.carousel-indicators {
  bottom: 10px;
}

</style>
<!-- Carousel -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/papel.avif' %}" srcset="{% static 'img/papel.avif' %} 1200w, {% static 'img/papel-small.avif' %} 600w" sizes="(max-width: 600px) 100vw, 50vw" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="{% static 'img/papel.avif' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/papel.avif' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Catálogo de Productos -->
{% if productos %}
<div id="producto" class="container mt-4">
    <div class="row">
        {% for producto in productos %}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <a href="{% url 'ficha' producto.id %}" class="btn btn-primary">Ver más</a>
                    <a href="https://wa.me/56965065031?text=Hola%20me%20gustaría%20saber%20más%20sobre%20sus%20productos." target="_blank" class="btn btn-success">
                      <i class="fab fa-whatsapp"></i> Consulta por WhatsApp
                  </a>
                  
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
    <br>
</div>
{% else %}
<h2 class="text-center my-4">No se encontraron productos</h2>
{% endif %}

{% endblock %}


